<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204880853073-33naggjrldj72i090i6r9sh6k6ho27p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204880853073-33naggjrldj72i090i6r9sh6k6ho27p1</string>
	<key>API_KEY</key>
	<string>AIzaSyDIJhqK7BjoMtAF6gxbrJtAtZDusy6wdu4</string>
	<key>GCM_SENDER_ID</key>
	<string>204880853073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloneInstagramTutorial</string>
	<key>PROJECT_ID</key>
	<string>flutterdemologin-df2b8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemologin-df2b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204880853073:ios:a3d8d0047d3eb92c72a070</string>
</dict>
</plist>